<footer class="footer" role="contentinfo" itemscope itemtype="https://schema.org/WPFooter">
    <div class="footer__nav">
        <div>
            <p><a href="/blog/">Blog</a></p>
            <p><a href="/portfolio/">Portfolio</a></p>
        </div>
        <div>
            <p><a href="/services/">Services</a></p>
            <p><a href="/about/">About Me</a></p>
        </div>
    </div>

    
    
    <!-- <div class="footer__icons">
        <a href="https://instagram.com/albindevs" target="_blank"> <img src="images/instagram-logo-color.svg"
            alt="instagram logo" class="icon"></a>
            
        <a href="https://github.com/albindevs" target="_blank"> <img src="images/github-logo-2.svg" alt="Github logo"
                class="icon"></a>
                
        <a href="https://twitter.com/albindevs" target="_blank"> <img src="images/twitter-logo-color.svg"
                    alt="Twitter logo" class="icon"></a>
    </div> -->

    <p> &copy; {{ now.Format "2006" }} &middot; Albin Garcia - Software Developer
    </p>
    <p>Contact: <b>albindevs@gmail.com</b></p>
</footer>