<header class="header" itemscope itemtype="https://schema.org/WPHeader">
    <div class="website" itemscope itemtype="https://schema.org/Organization">
        <a class="main-logo" href="/" itemprop="url">
            <img src="{{.Site.Params.logoUrl}}" alt="main logo">
        </a>
        <div class="title">
            <h2 class="websiteName" itemprop="name"> <a href="/">{{.Site.Params.name}}</a></h2>
        </div>
    </div>

    <div class="menu-btn">
        <div class="menu-btn__line"></div>
        <div class="menu-btn__line"></div>
        <div class="menu-btn__line"></div>
    </div>
    <nav class="menu" itemscope itemtype="https://schema.org/SiteNavigationElement" role="navigation">
        <ul class="menu-nav">
            <li class="menu-nav__item"> <a href="/blog/" class=".menu-nav__item__link">Blog</a></li>
            <!-- <li class="menu-nav__item"> <a href="/seed/" class=".menu-nav__item__link">Digital Garden</a></li> -->
            <li class="menu-nav__item"> <a href="/skills/" class=".menu-nav__item__link">Skills</a></li>
            <li class="menu-nav__item"> <a href="/portfolio/" class=".menu-nav__item__link">Portfolio</a></li>
            <li class="menu-nav__item"> <a href="/about/" class=".menu-nav__item__link">About Me</a></li>
            <li class="menu-nav__item"  id="contact"> <a href="/contact/" class=".menu-nav__item__link">Contact</a></li>
        </ul>
</header>