


.blogPost {
  max-width: 800px;
  margin: auto;
  padding-top: 80px;
  
  background: $full-white;

 
 

  b, strong {
    font-weight: bold;
  }

  
  &__title,
  &__caption,
  &__body{
    padding: 2px 20px;
    color: hsl(0,0%,35%);
  }

  &__body {    
    width: 100vw;
    max-width: 720px;
    margin: auto;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $black;
      font-size: 1.8rem;
      padding-top: 20px;

      @include media($medium-min){
        font-size: 2.1rem;
      }
    }
  }
  &__img {
    padding: 20px;
    margin: auto;
  }

  &__author-bio{
    max-width: 500px
  }



  &__title {
    color: $full-black;
    margin-top: 30px;
    font-size: 1.8rem;
    text-align: center;

    @include media($medium-min){
      font-size: 3rem;
    }

  }

  &__category {
    display: inline-block;
    text-align: center;
    margin: 0;
    margin-top: 40px;
    margin-left: 20px;
    padding: 5px 10px;
    background: $primary-color;
    color: $full-white;
    text-transform: capitalize;

  }


  &__date,
  &__caption,
  &__author-bio {
    color: hsl(0,0%,50%);
    font-size: 1rem;
  }

  &__date {
    padding-left: 10px;
    @include flexCenter;
  }


  &__caption {
    text-align: center;
    a {
      text-decoration: underline;
    }
  }

  &__authorSection {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  &__authorSpace {
    padding: 20px;
    padding-right: 10px;
    max-width: 300px;
    color: $black;
    display: flex; 

    p {
      margin: 0;
    }

    a{
      color: $primary-color;
    }

  }

  .author-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
  }

  &__sub-headline-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  &__tags{
    display: flex;
    padding-left: 20px;
    & > p {
      background: $primary-color;
      color:$full-white;
      margin-right: 10px;
      padding: 5px;
    }
  }


  @include media($medium-min){
    max-width: 1000px;
    padding-top: 15vh;
    // margin-top: 15vh;

  }
}

#disqus_thread{
  padding: 20px;
}



.share-pitch {
  max-width: 600px;
  margin-top: 50px;
  padding: 20px;
  span{
    color: hsl(0,0%,0%);
    font-weight: bold;    
  }
}



