.btn-cta {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    @include button-shaddow; 

    @include transition;

    &:hover {
        box-shadow: none
    }

    p {
        margin: 0;
    }

    img {
        width: 50px;
        max-width: 40vw;
        margin-right: 10px;
    }

}

.btn-cv {
    background-color: $blue;
    color: $white;
    margin-bottom: 40px;
}