

.cards {
  max-width: 1400px;
  margin: auto;
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(320px, 1fr));
  justify-content: space-around;
  align-items: start;
  grid-gap: 20px;

  background: $white;
    
}

.card{
  width: 100%;
  max-width: 320px;
  margin: 20px auto;
  
  background: $full-white;
  color: $gray;
  box-shadow: 
  5px 5px 10px rgba($color: #000000, $alpha: 0.15),
  -5px -5px 10px rgba($color: #000000, $alpha: 0.15);
  
  font-size: 1rem;
  opacity: 0;
  border-radius: 10px;
  transition: .5s all ease-in-out;


  &__img-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    max-height: 200px;
  }

  &__img {
    width: 100%;
    
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    &:hover {
      animation: bounce .8s ease-in-out;
    }

    @keyframes bounce {
      0%{transform: scale(1);}
      50%{transform: scale(1.5);}
      100%{transform: scale(1);}
    }
  }

  &__data {
    padding: 10px;
  }

  &__title {
    margin: 0;
    margin-bottom: 5px;
    color: $black;
    font-size: 1.3rem;
    font-weight: 600;
  }
  
  &__button {
    width: 100px;
    padding: 5px;

    display: block;
    @include flexCenter;

    background: $secundary-color;
    color: $full-white;
    border-radius: 10px;

    @include transition;
    
    &:hover {
      cursor: pointer;
    }

  }
}


.card-pet {
  &__title {
    font-family: $font-family-display;
    font-size: 2.5rem;
    font-weight: normal;
  }

  &__phone {
    color: $blue;
    text-decoration: underline;
  }

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    font-size: 1.1rem;
  }
}




.cards-insta {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  
  .card-insta {
   margin: 5vh 0;
  }
}