
.menu {
  width: 100vw;
  height: 100%;
  min-height: 100vh;

  position: fixed;
  top: 0;
  z-index: -1;
  @include flexCenter;

  background: $white;
  color: $black;

  transform: translate(0,-100vh);
  @include transition;
  transition-duration: 0.5s;



  &-nav{
    @include reset-list;
    height: 100vh;
    max-width: 700px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;

    font-size: 1.8rem;

    
    
    


    &__item {
      margin-bottom: 1rem;
      padding: 10px;

      @include transition;

      @include media($large-min){
        height: auto;
        display: inline;;
      }

      & > *:hover {
        color: $full-white;
        
        @include transition
      }
    }

    #contact {
      background-color: $primary-color;
      color: $full-white;
      border-radius: 10px;
    }
  }






  @include media($large-min){
    z-index: 0;
    width: auto;
    height: 100%;
    min-height: auto;
    position: static;
    background: transparent;
    color: $black;
    transform: translate(0,0);

    &-nav {
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;

      &__item {
        height: 100%;
        margin: 0 0.2rem;
        border-left: 0;
        padding: 0.8rem;
        font-size: 1rem;
        @include transition;

        &:hover{
          background: $primary-color;   
          border-radius: 10px;      
          & > * {
            color: $full-white;
            padding-left: 0;
          }
        }
      }

    }
  }
}