
.blogPost > .recommendations-title {
  margin: 0;
  padding: 20px;
  padding-bottom: 10px;

  text-align: center;
  font-size: 1.5rem;
}

.recommendations{
  padding: 20px;

  ul{
    padding: 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
  }
}
.recommendation-card{
  list-style-type: none;
  width: 250px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;


  img {
    width: 250px;
    height: 250px;
    margin: auto;
  }

  &__title{
    color: $black;
    font-family: $font-family-display;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
  }

}