.share-button {
    background-color: $blue;
    color: $full-white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    font-size: 1rem;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
      img {
        width: 25px;
        margin-right: 10px;
      }
  }