{{ define "main" }}
<section class="section section-skills">
    <div class="section-title">
        <h2 class="title">What I Do</h2>
        <p>I write <b>code</b> and build <b>Websites</b> for a living. My strength is <b>Front-end Development</b> where I can combine coding with my passion for <b>UI Design</b>. I also love working with Python in the <b> Back-end Side</b>.</p>
        <p>In my spare time I like to play with <b>Illustrator</b> designing mind maps to understand and communicate things better. I also write my thoughts in this blog</p>
    </div>
    <div class="skills-illustration">
        <img src="/images/skills.png" alt="CV illustration with skills">
    </div>
</section>
<section class="section">
    <div class="section-skill-boxes">
        <div class="skill-box">
            <h3 class="skill-box__title" id="skill-front">&#128421;&#65039; Front-end</h3>
            <ul class="skill-box__list">
                <li class="skill-box__item">
                    <img src="/images/html-5.svg" alt="">
                    <p>HTML</p>
                </li>
                <li class="skill-box__item">
                    <img src="/images/css-3.svg" alt="">
                    <p>CSS</p>
                </li>
                <li class="skill-box__item">
                    <img src="/images/javascript-1.svg" alt="">
                    <p>Javascript</p>
                </li>
                <li class="skill-box__item">
                    <img src="/images/react.svg" alt="">
                    <p>React Js</p>
                </li>
                <li class="skill-box__item">
                    <img src="/images/redux.svg" alt="">
                    <p>Redux</p>
                </li>
            </ul>
        </div>
        <div class="skill-box">
            <h3 class="skill-box__title"  id="skill-back">&#128736;&#65039; Back-end</h3>
            <ul class="skill-box__list">
                <li class="skill-box__item">
                    <img src="/images/python.svg" alt="">
                    <p>Python</p>
                </li>
                <li class="skill-box__item">
                    <img src="/images/django.svg" alt="">
                    <p>Django</p>
                </li>
                <li class="skill-box__item">
                    <img src="/images/postgresql.svg" alt="">
                    <p>PostgreSQL</p>
                </li>
                <li class="skill-box__item">
                    <img src="/images/travis-ci.svg" alt="">
                    <p>Travis CI</p>
                </li>
            </ul>
        </div>
        <div class="skill-box">
            <h3 class="skill-box__title"  id="skill-content">&#128395;&#65039; Content Creation</h3>
            <ul class="skill-box__list">
                <li class="skill-box__item">
                    <img src="/images/adobe-illustrator-cc.svg" alt="">
                    <p>Illustrator</p>
                </li>
                <li class="skill-box__item">
                    <img src="/images/diary.svg" alt="">
                    <p>Writing</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="horizontal-center">
        <a class="btn-cta btn-cv " href="https://docs.google.com/document/d/1w-lqekMLsf7zfOLtPdpv-D6ynfVRfOjcPy9YzsZbyzU/edit?usp=sharing" target="_blank">
            <img src="/images/cv.svg" alt="">
            <p>Full CV</p>
        </a>
    </div>
</section>
{{ end }}