{{ define "main" }}
<div class="bloglist-wrapper" style="padding-top: 80px;">


    <section itemscope="" itemtype="https://schema.org/Blog" class="section section-blog">
        <div class="section-title">
            <h4 class="title">&#128395;&#65039; Blog</h4>
        </div>

        <div class="cards">
            {{ range .Pages}}
            {{ block "post-card-recent" . }}{{ partial "post-card.html" . }}{{ end }}
            {{ end }}
        </div>
    </section>


    <!-- <section class="categories">
        <ul class="list">
            {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
            <li class="list__title"><a href="{{ "/" | safeURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}:</a>
                <ul class="list">
                    {{ range $key, $value := $taxonomy }}
                    <li class="list__item"> <span> </span><a href="/{{$taxonomyname}}/{{$key}}">{{ $key }}</a></li>
                    {{ end }}
                </ul>
            </li>
            {{ end }}
        </ul>
    </section> -->


    <!-- <section class="categories">
        <h5 class="categories__title">📌 Categories:</h5>

        <div class="categories__list-container">
            <ul class="list">
                <li class="list__item"><a href="/categories/programming">🖥️ Programming</a></li>
                <li class="list__item"><a href="/categories/knowledge-management">📚 Knowledge Management</a></li>
                <li class="list__item"><a href="/categories/self-improvement">🌌 Self-improvement</a></li>
            </ul>
            <ul class="list">
                <li class="list__item"><a href="/categories/programming">🖥️ Programming</a></li>
                <li class="list__item"><a href="/categories/knowledge-management">📚 Knowledge Management</a></li>
                <li class="list__item"><a href="/categories/self-improvement">🌌 Self-improvement</a></li>
            </ul>
        </div>
    </section> -->
</div>

<script>
    let blogPageCards = document.querySelector('.cards');
    blogPageCards.classList.add('shown');
</script>

{{ end }}