{{define "main"}}

<section itemscope="" itemtype="https://schema.org/Blog" style="background-color: #fff">
    <article class="section blogPost" itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting">

        <meta itemprop="mainEntityOfPage" content="{{.Permalink}}">
        <div class="blogPost__article-wrapper">
            <div class="blogPost__article-content">
                <h1 itemprop="name headline" class="blogPost__title">{{.Title}}</h1>
                <div class="blogPost__sub-headline-wrapper" itemprop="author" itemscope="" itemtype="https://schema.org/Person">
                    <p class="blogPost__author"  itemprop="name">&#128395;&#65039; {{.Site.Params.AuthorName}}</p>
                    <p class="blogPost__date">
                        <time datetime="{{.Date}}" itemprop="datePublished">&#128467;&#65039; {{dateFormat "2 Jan 2006" .Date}}</time>
                    </p>
                </div>
                <meta itemprop="dateModified" content="{{.Lastmod}}">





                <figure itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                    <img src="{{.Params.img}}" alt="{{.Params.imgAlternativeText}}" itemprop="url"
                        class="blogPost__img">
                    <!-- <figcaption itemprop="caption" class="blogPost__caption">Follow &#128248; <a href="{{.Site.Params.instagramUrl}}" target="_blank">{{.Site.Params.instagramUser}}</a> on Instagram for more illustrations &#127912;</figcaption> -->
                </figure>

                <div class="blogPost__body" itemprop="articleBody">
                    {{.Content}}
                </div>
                
                <div class="share-section">
                    <p>&#128640; Share this post &#127756;</p>
                    <div class="share-section__container">
                        <a href="https://twitter.com/intent/tweet?url={{.Permalink}}&text={{.Title}}&via=albindevs" target="_blank" class="share-button">
                            <img src="/images/twitter-logo-color.svg" alt="Twitter share button" /> 
                        </a>
                        <a href="{{.Params.igPost}}" target="_blank" class="share-button share-ig">
                            <img src="/images/ig-outline.svg" alt="Instagram share button"/> 
                        </a>
                    </div>
                </div>
            </div>

        </div>





        <!-- <p class="blogPost__category">{{ range .Params.categories }} <a
                href="../../categories/{{.}}">{{ . }}</a>{{ end }} </p>

        <div class="blogPost__tags">
            {{ range .Params.tags }}
            <p class="tag"><a href="../../tags/{{.}}">{{ . }}</a></p>
            {{ end }}
        </div> -->

        <span itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
            <meta itemprop="name" content=".Site.Title">
            <span itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="{{.Site.BaseURL}}{{.Site.Params.logoUrlPng}}">
                <meta itemprop="width" content="60">
                <meta itemprop="height" content="60">
            </span>
        </span>

        <p class="recommendations-title">Related Articles:</p>
        <div class="recommendations">
            {{ $related := .Site.RegularPages.Related . | first 5 }}
            {{ with $related }}
            <ul>
                {{ range . }}
                <li class="recommendation-card">
                    <a href="{{.URL}}">
                        <img src="{{.Params.img}}" alt="{{.Params.imgAlternativeText}}" itemprop="image url" class="card__img">
                    </a>
                    <p class="recommendation-card__title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>

        <!-- <div class="comments">
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = site.domain + post.Url;
                    this.page.identifier = site.domain + post.Url;
                };
                (function () {
                    var d = document, s = d.createElement('script');
                    s.src = 'https://patiks.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered
                    by Disqus.</a></noscript>
        </div> -->
    </article>
</section>


{{end}}