//Colors


$full-black:	 hsl(0,0%,0%);
$black:		 	   hsl(0,0%,15%);
$low-gray: 		 hsl(0,0%,25%);
$gray: 			   hsl(0,0%,50%);
$silver:	 	   hsl(0,0%,80%);
$white: 		   hsl(0,0%,95%);
$full-white: 	 hsl(0,0%,100%);

$red: 			#e6194b;
$green: 		#3cb44b;
$yellow:		#ffe119;
$blue: 			#0082c8;
$orange:		#f58231;
$purple:		#911eb4;
$cyan: 			#46f0f0;
$magenta:		#f032e6;
$lime:			#d2f53c;
$pink:			#fabebe;
$teal: 			#008080;
$lavender:	#e6beff;
$brown: 		#aa6e28;
$beige: 		#fffac8;
$maroon:		#800000;
$mint:			#aaffc3;
$olive:			#808000;
$navy: 			#000080;




$custom-primary-color: hsl(45,85%,65%);
$palette-color-1: #9B00E8;
$palette-color-2: #00F1FF;
$palette-color-3: #5c2c6d;
$palette-color-4: #5da4a6;



$primary-color:		$palette-color-1;
$secundary-color:	$palette-color-4;
$important-color:	$green;
$link-color:		$blue;
$bars-color: hsl(0,0%,90%);



$color-background: $white;
$color-text: $low-gray;





//FONTS

$font-size-base: 18px;

$min-font-size: 18;
$max-font-size: 20;
$min-screen-size: 320;
$max-screen-size: 1330;
	
$font-family-display: 'Noto Serif', sans-serif;
$font-family-default: 'Montserrat', sans-serif;


// //Images
// $home-image:    "../img/bg.jpeg";
// $home-image-medium: "../img/bg-medium.jpeg";
// $home-image-full:   "../img/bg-full.jpeg";




//breakpoints

$small-min: 578px;
$medium-min: 768px;
$large-min: 960px;
$x-large-min: 1200px;

