{{define "main"}}

<div class="bloglist-wrapper seed-wrapper">

  <section itemscope="" itemtype="https://schema.org/Blog" class="section" style="padding-top:100px;">
        <div class="section-title">
          {{ $lastUrlElement := index (last 1 (split (delimit (split .URL "/") "," "") ",")) 0 }}
          <h4 class="title" style="text-transform: capitalize;">{{$lastUrlElement}}</h4>
        </div>

        <div class="cards seed-cards">
          {{ range .Pages}} 
            {{ block "article-card-recent" . }}{{ partial "seed-card.html" . }}{{ end }}
          {{ end }} 
        </div>
  </section>
  


  <!-- <section class="categories">
    <ul class="list">
      {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        <li class="list__title"><a href="{{ "/" | safeURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}:</a>
          <ul class="list">
            {{ range $key, $value := $taxonomy }}
            <li class="list__item"> <span>> </span><a href="/{{$taxonomyname}}/{{$key}}">{{ $key }}</a></li>
            {{ end }}
          </ul>
        </li>
      {{ end }}
    </ul>
  </section> -->
</div>


{{end}}