{{ define "main" }}
<section class="about-intro">
    <div class="about-intro-container">
        <div class="image-container" id="image-top-left"></div>
        <div class="image-container" id="image-bottom-left"></div>
    </div>
    <div class="about-intro-container about-intro-text">
        <img src="/images/avatar.jpg" alt="Albin Garcia's picture">
        <p>My name is Albin and instead of telling you my whole story, I want to share with you things about</p>
        <h2 class="about-intro-text__title">&#127756;My personality and the way I think&#127756;</h2>
        <p>Here's the table of contents. Shall we?</p>
        <div class="table-of-contents">
            <div class="table-item">
                <p>&#127754;</p>
                <p>How I live</p>
            </div>
            <div class="table-item">
                <p>&#128161;</p>
                <p>My enthusiasm for expressing ideas</p>
            </div>
            <div class="table-item">
                <p>&#9203;</p>
                <p>How I (try) to make sense of life</p>
            </div>
            <div class="table-item">
                <p>&#129345;</p>
                <p>Music is what drives my soul</p>
            </div>
            <div class="table-item">
                <p>&#128221;</p>
                <p>I. LOVE. TO. MAKE. LISTS.</p>
            </div>
            <div class="table-item">
                <p>&#128187;</p>
                <p>Coding has changed my life</p>
            </div>
            <div class="table-item">
                <p>&#9968;&#65039;</p>
                <p>Resilience</p>
            </div>
        </div>
    </div>
    <div class="about-intro-container">
        <div class="image-container" id="image-top-right"></div>
        <div class="image-container" id="image-bottom-right"></div>
    </div>
</section>
<section class="about-section left">
    <h3 class="about-section__title">&#127754; How I live</h3>
    <div class="about-section__items">
        <div class="about-item">
            <img class="about-item__image" src="/images/curious.svg" alt="Section logo">
            <p class="about-item__paragraph">I'm curious every single day of my life. I like to ask a lot of questions and research about things that grab my attention. I always keep learning in order to better understand the world around me.</p>
        </div>
        <div class="about-item">
            <p class="about-item__paragraph">I believe in working hard and smart every day to achieve our independence. We decide where we want to go and we can get there with discipline to put in the hard work consistently.</p>
            <img class="about-item__image" src="/images/dicipline.svg" alt="Section logo">
        </div>
        <!-- <div class="timeline">
            <img src="/images/timeline.png" alt="Section logo">
            <p class="about-item__paragraph">I try to compare myself only to my younger self, I Always beat that guy (not necessarily by much but i do).</p>
        </div> -->
        <div class="about-item">
            <img class="about-item__image" src="/images/talking.svg" alt="Section logo">
            <p class="about-item__paragraph">One of the best things in life that I enjoy the most is communicating with people and sharing ideas, memories and feelings. I think we all do, even introverts like myself. Life feels so much better after a great conversation.</p>
        </div>
        <div class="about-item">
            <p class="about-item__paragraph">Learn how to genuinely share yourself, who you are and your value with other people and give them the confidence to do the same thing. That way it makes them and yourself feel authentic.</p>
            <img class="about-item__image" src="/images/inner.svg" alt="Section logo">
        </div>
    </div>
</section>
<section class="about-section right">
    <h3 class="about-section__title">&#128161; My enthusiasm for expressing ideas</h3>
    <div class="about-section__items">
        <div class="about-item">
            <img class="about-item__image" src="/images/w-habit.svg" alt="Section logo">
            <p class="about-item__paragraph">WRITING WRITING WRITING! Have you try any writing habit??? Let me tell you what I feel about writing and why I do it.</p>
        </div>
        <div class="about-item">
            <p class="about-item__paragraph">Writing is the fastest way to express a thought or idea and make it available to the world. Do yo realize how powerful and cool that is? As many things in life good writing is absurdly hard, that's why we should always keep in mind that the more we do it the better we get, as many things in life as well.</p>
            <img class="about-item__image" src="/images/fast-ideas.svg" alt="Section logo">
        </div>
        <div class="about-item">
            <img class="about-item__image" src="/images/w-evo.svg" alt="Section logo">
            <p class="about-item__paragraph">Another thing I love about writing is that we can appreciate our evolution in our thinking process and our writing skill immediately. That just motivates me to write even more even if I suck at it (I may not suck in the future, who knows?)</p>
        </div>
        <div class="about-item">
            <p class="about-item__paragraph">However when It comes to communicating something better, mind maps have got your back. As you may have noticed already, I do them all the time, they are everywhere in this blog. I Love them.</p>
            <img class="about-item__image" src="/images/map.svg" alt="Section logo">
        </div>
        <div class="about-item">
            <img class="about-item__image" src="/images/code.svg" alt="Section logo">
            <p class="about-item__paragraph">I also like to express my ideas by coding but that's a biggy and has it's own section later on, bear with me.</p>
        </div>
    </div>
</section>
<section class="about-section left">
    <h3 class="about-section__title">&#8987; How I (try) to make sense of life</h3>
    <div class="about-section__items">
        <div class="about-item">
            <b>&#127755;</b>
            <p class="about-item__paragraph">By definition life is an unpredictable mess.</p>
        </div>
        <div class="about-item">
            <div class="about-item__paragraph" style="text-align: left;">
                <p>I try to live mine by dividing it into periods and define what I want to accomplish. In each period I ask myself
                these questions:</p>
                <ul>
                    <li>What do I want?</li>
                    <li>Why do I want it?</li>
                    <li>How do I plan to get it?</li>
                </ul>
                <p>First one is super easy, second one is tricky depending on your self-awareness and your values. Actually executing the
                third one can be as easy as sewing your own parachute while free falling from 10 thousand feet. But you know, at least a
                bad plan is better than no plan, right?.</p>
            </div>
            <b>&#128203;</b>
        </div>
        <div class="about-item books-section">
            <b>&#128218;</b>
            <div class="about-item__paragraph">
                <p>Books are cool. They can give you answers to questions you may have never asked yourself before but are incredible useful.
                </p>
                <p>We get older every day, that's kind of a bummer, but at least with books we get wiser. Here are the books that have had
                the biggest impact in my life.</p>
            </div>
        </div>
        <ul class="books-list">
            <li>
                <img src="/images/war.jpg" alt="The war of art book cover">
                <h4 class="book-title">The War of Art</h4>
                <p>The hardest part is to sit down and start working. Once you do it and stay there magic things happen, but you have to sit first no matter what.</p>
            </li>
            <li>
                <img src="/images/so-good.jpg" alt="So good they can't ignore you book cover">
                <h4 class="book-title">So Good They Can't Ignore You</h4>
                <p>We are not entitled in life, nobody owes us any opportunity, we need to demonstrate our value as professionals in order
                to get the opportunities we want.</p>
            </li>
            <li>
                <img src="/images/steal.jpg" alt="Steal like an artist book cover">
                <h4 class="book-title">Steal Like an Artist</h4>
                <p>Basically get inspiration from everything you consume. It also motivated me to develop my taste and criteria when
                deciding what content to consume. Get quality inspiration, a lot of it.</p>
            </li>
        </ul>
    </div>
</section>
<section class="about-section right">
    <h3 class="about-section__title">&#129345; Music is what drives my soul</h3>
    <div class="about-section__items">
        <div class="about-item">
            <b>&#127932;</b>
            <div class="about-item__paragraph">
                <p>I can't come up with better words to describe my relentless passion about music than: </p>
                <div class="quote">
                    <q>“Music is a moral law. It gives soul to the universe, wings to the mind, flight to the imagination, and life to everything.” - Plato</q>
                </div>
            </div>
        </div>
        <div class="albums-container">
            <p class="albums-container__title">&#128189; How about I share with you the most important albums of my life:</p>
            <ul class="albums-list">
                <li>
                    <img src="/images/dark-side.png" alt="The Dark Side Of the moon album cover">
                    <div class="album-info">
                        <h4 class="album-title">The Dark Side Of The Moon</h4>
                        <div>
                            <p>Pink Floyd</p>
                            <p>1973</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/ok-pc.png" alt="OK Computer album cover">
                    <div class="album-info">
                        <h4 class="album-title">OK Computer</h4>
                        <div>
                            <p>Radiohead</p>
                            <p>1997</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/tourist.jpg" alt="Tourist History album cover">
                    <div class="album-info">
                        <h4 class="album-title">Tourist History</h4>
                        <div>
                            <p>Two Door Cinema Club</p>
                            <p>2010</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/total-life.jpg" alt="total life forever album cover">
                    <div class="album-info">
                        <h4 class="album-title">Total Life Forever</h4>
                        <div>
                            <p>Foals</p>
                            <p>2010</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/hurry.jpg" alt="Hurry up we're dreaming album cover">
                    <div class="album-info">
                        <h4 class="album-title">Hurry Up, We're Dreaming</h4>
                        <div>
                            <p>M83</p>
                            <p>2011</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/lonerism.png" alt="Lonerism album cover">
                    <div class="album-info">
                        <h4 class="album-title">Lonerism</h4>
                        <div>
                            <p>Tame Impala</p>
                            <p>2012</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/bones.png" alt="The bones of what you believe album cover">
                    <div class="album-info">
                        <h4 class="album-title">The Bones Of What You Believe</h4>
                        <div>
                            <p>CHVRCHES</p>
                            <p>2013</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/awake.png" alt="Awake album cover">
                    <div class="album-info">
                        <h4 class="album-title">Awake</h4>
                        <div>
                            <p>Tycho</p>
                            <p>2014</p>
                        </div>
                    </div>
                </li>
                <li>
                    <img src="/images/deeper.jpg" alt="a deeper understanding album cover">
                    <div class="album-info">
                        <h4 class="album-title">A Deeper Understanding</h4>
                        <div>
                            <p>The War On Drugs</p>
                            <p>2017</p>
                        </div>
                    </div>
                </li>
            </ul>
            <p style="text-align: center;">They are all perfect 10s for me.</p>
        </div>
        <div class="about-item">
            <b>👨🏽‍🎤</b>
            <p class="about-item__paragraph">I'm a huge fan of the Synthwave/Outrun culture inspired by the 80s (even though I was born in 1998).</p>
        </div>
        <div class="synth-gallery">
            <img src="/images/synth-1.jpg" alt="Synth wallpaper">
            <img src="/images/synth-2.png" alt="Synth wallpaper">
            <img src="/images/synth-3.png" alt="Synth wallpaper">
            <img src="/images/synth-4.png" alt="Synth wallpaper">
            <img src="/images/synth-5.jpg" alt="Synth wallpaper">
            <img src="/images/synth-6.jpg" alt="Synth wallpaper">
        </div>
    </div>
</section>
<section class="about-section left">
    <h3 class="about-section__title">&#128221; I. LOVE. TO. MAKE. LISTS.</h3>
    <div class="about-section__items">
        <div class="about-item">
            <img class="about-item__image" src="/images/list.svg" alt="Section logo">
            <p class="about-item__paragraph">You can make lists about anything. From your groceries list to things you'd do with a million dollars with only one hour
            to spend it, anything in between.</p>
        </div>
        <div class="about-item">
            <p class="about-item__paragraph">To explain why I love lists... Well they have basically taught me how to identify when things around me repeat themselves and how to categorize stuff.</p>
            <img class="about-item__image" src="/images/patterns.svg" alt="Section logo">
        </div>
        <div class="about-item">
            <img class="about-item__image" src="/images/formats.svg" alt="Section logo">
            <p class="about-item__paragraph">Writing lists also made me realize that If you can define a pattern of information and are able to repeat it, you've created a brand new model of information just like a tweet or an Instagram Post.</p>
        </div>
        <div class="about-item">
            <p class="about-item__paragraph">I'm obsessed with ranking things, I can't describe the amount of time I've spent watching Tops on YouTube. I just can't get enough of them. In fact, here's a top 3 of my favorite illustrarions you've seen so far: </p>
            <img class="about-item__image" src="/images/top.svg" alt="Section logo">
        </div>
    </div>
</section>
<section class="about-section right">
    <h3 class="about-section__title">&#128187; Coding has changed my life</h3>
    <div class="about-section__items">
        <div class="about-item">
            <p class="about-item__paragraph" style="text-align: right;">Coding is the most important way of expression in my life and what puts food on my table. You would definitely not be reading this if I hadn't learned how to code.</p>
            <img class="about-item__image" src="/images/code.svg" alt="Section logo">
        </div>
        <div class="about-item">
            <img class="about-item__image" src="/images/code-free.svg" alt="Section logo">
            <div class="about-item__paragraph" style="text-align: left;">
                <p>It totally expands your mind and challenges you to be creative by giving you the possibility of designing and building basically anything you can define in your mind.</p>
                <p>You start seeing things as problems and realize that (almost) everything has one or even many solutions. It's all about learning how to think better.</p>
                <p>It's kind of a cliché to say that coding is like a super power, but once you realize what modern day computers and smartphones are capable of doing and understand that all of it is at your disposal is when you recognize It's an actual real-life superpower.</p>
            </div>
        </div>
    </div>
</section>
<section class="about-section left">
    <h3 class="about-section__title">&#9968;&#65039; Resilience</h3>
    <div class="about-section__items">
        <div class="about-item">
            <div class="about-item__paragraph" style="text-align: left;">
                <p>Resilience is something I've had to develop my whole life simply by the fact of being born under unfavorably conditions (&#127483;&#127466; country under dictatorship regime).</p>
                <p>We can enjoy at least something about life everyday regardless of living through adversities.</p>
                <p>Despite Everything I think of myself as a Lucky person and that I've seized every opportunity I had to improve myself and have a better life. As long as I can keep learning how to create things, expressing myself and (hopefully) making a living of It, I can fight for my freedom.</p>
            </div>
        </div>
        <!-- <div class="about-item">
            <img class="about-item__image" src="/images/cv.svg" alt="Section logo">
        </div>
        <div class="about-item">
            <img class="about-item__image" src="/images/cv.svg" alt="Section logo">
        </div> -->
    </div>
</section>
{{ end }}