{{define "main"}}

<section>
    <article class="seed">
        <div class="seed-wrapper">
            <div class="seed-header">
                <h1 class="seed-title">{{.Title}}</h1>
                <ul class="seed-tags">
                    {{ range (.GetTerms "tags") }}
                        <li class="seed-tag">
                            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                        </li>
                   {{ end }}
                </ul>
            </div>
            <figure class="seed-image" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                <img src="{{.Params.img}}" alt="{{.Params.imgAlternativeText}}" itemprop="url">
            </figure>
            <div class="seed-body">
                {{.Content}}
            </div>
        </div>
    </article>
</section>

{{end}}