{{define "main"}}

<section>
    <article class="seed">
        <div class="seed-wrapper">
            <div class="back-container">
                <a href="{{.Site.BaseURL}}/seed/">
                    <img src="/images/tree.svg" alt="tree icon">
                </a>
            </div>
            <div class="seed-header">
                <h1 class="seed-title">{{.Title}}</h1>
                <ul class="seed-tags">
                    {{ range (.GetTerms "tags") }}
                        <li class="seed-tag">
                            <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                        </li>
                   {{ end }}
                </ul>
            </div>
            <figure class="seed-image" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                <img src="{{.Params.img}}" alt="{{.Params.imgAlternativeText}}" itemprop="url">
            </figure>
            <div class="seed-body">
                {{.Content}}
            </div>

            <div class="seed-cta">
                <p><b>Thank you so much</b> for reading my random thoughts. This note is a seed in my mental garden.</p>
                <p>Click the tree for more random thoughts</p>
                <div class="back-container">
                    <a href="{{.Site.BaseURL}}/seed/">
                        <img src="/images/tree.svg" alt="tree icon">
                    </a>
                </div>
            </div>
            <a href="{{.Params.notionUrl}}" class="edit-container">
                <img class="edit-btn" src="/images/edit.svg" alt="threat icon">
            </a>
        </div>
    </article>
</section>

{{end}}