<article itemprop="blogPost" itemscope="" itemtype="https://schema.org/BlogPosting" class="card">
    <a href="{{.URL}}">
        <meta itemprop="mainEntityOfPage" content="{{.Permalink}}">
        <div class="card__img-container">
            <img src="{{.Params.img}}" alt="{{.Params.imgAlternativeText}}" itemprop="image url" class="card__img">
        </div>

        <div class="card__data">
        <h2 itemprop="name headline" class="card__title">{{.Title}}</h2>
            <p>{{.Description}}</p>
            <time datetime="{{.Date}}" itemprop="datePublished" class="card-blog__date">&#128467;&#65039; {{dateFormat "2 Jan 2006" .Date}}</time>
        </div>
        <span itemprop="publisher" itemscope="" itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="{{.Site.Title}}">
            <span itemprop="logo" itemscope="" itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="{{.Site.Params.logoUrlPng}}">
                <meta itemprop="width" content="60">
                <meta itemprop="height" content="60">
            </span>
        </span>
        <meta itemprop="dateModified" content="{{.Lastmod}}">
    </a>
</article>