{{ define "main" }}
<section style="max-width: 800px;margin: auto;padding:20px;">
<h1>Sexy ass title</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis ipsa quibusdam sunt expedita aut. Hic delectus assumenda ducimus sint pariatur quibusdam id vitae eligendi, dolores ipsum ab quidem unde culpa!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit suscipit alias accusamus beatae aut, veritatis ratione sequi accusantium deserunt minus quaerat temporibus vitae laudantium, asperiores incidunt distinctio, eos adipisci exercitationem?</p>
<h1>Sexy ass title</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis ipsa quibusdam sunt expedita aut. Hic delectus assumenda ducimus sint pariatur quibusdam id vitae eligendi, dolores ipsum ab quidem unde culpa!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit suscipit alias accusamus beatae aut, veritatis ratione sequi accusantium deserunt minus quaerat temporibus vitae laudantium, asperiores incidunt distinctio, eos adipisci exercitationem?</p>
<h1>Sexy ass title</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis ipsa quibusdam sunt expedita aut. Hic delectus assumenda ducimus sint pariatur quibusdam id vitae eligendi, dolores ipsum ab quidem unde culpa!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit suscipit alias accusamus beatae aut, veritatis ratione sequi accusantium deserunt minus quaerat temporibus vitae laudantium, asperiores incidunt distinctio, eos adipisci exercitationem?</p>
<h1>Sexy ass title</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis ipsa quibusdam sunt expedita aut. Hic delectus assumenda ducimus sint pariatur quibusdam id vitae eligendi, dolores ipsum ab quidem unde culpa!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit suscipit alias accusamus beatae aut, veritatis ratione sequi accusantium deserunt minus quaerat temporibus vitae laudantium, asperiores incidunt distinctio, eos adipisci exercitationem?</p>
</section>
{{end}}