{{ define "main" }}
<section itemscope="" itemtype="https://schema.org/Blog" class="section section-blog">
    <div class="section-title">
        <h4 class="title">&#128240; Recent posts</h4>
        <!-- <img src="/images/blog-icon.svg" alt="pawn prints logo"> -->
    </div>

    <div class="cards">
        {{ range (.Paginate ( where site.RegularPages "Section" "blog" | first 3 )).Pages}}
        {{ block "article-card-recent" . }}{{ partial "post-card.html" . }}{{ end }}
        {{ end }}
    </div>

    <p class="see-all"> <a href="./blog/" class="button-all">&#128218; All</a></p>
</section>

<section itemscope="" itemtype="https://schema.org/Blog" class="section section-blog">
    <div class="section-title">
        <h4 class="title">&#10024; Highlights</h4>
        <!-- <img src="/images/blog-icon.svg" alt="pawn prints logo"> -->
    </div>

    <div class="cards">
        {{ range (.Paginate ( where site.RegularPages "Section" "blog" | first 3 )).Pages}}
        {{if eq .Params.destacado true}}

        {{ block "article-card-top" . }}{{ partial "post-card.html" . }}{{ end }}

        {{end}}
        {{ end }}
    </div>

    <p class="see-all"> <a href="/blog/" class="button-all">&#128218; All</a></p>
</section>
{{end}}