{{ define "main" }}
<section class="landing">
    <img class="landing__image" src="/images/landing.png" alt="landing page illustration">
    <div class="landing__text">
        <div>
            <p>Hello! Albin here. I am a </p>
            <h2 class="landing__title">Web Developer</h2>
            <p>who loves composition and likes to</p>
            <h2 class="landing__title secundary"><span>Write</span>,<span> Design</span> & <span>Code</span></h2>
        </div>
    </div>
</section>

<section itemscope="" itemtype="https://schema.org/Blog" class="section section-blog">
    <div class="section-title">
        <h4 class="title"><a href="/blog/"> &#128240; Recent posts</a></h4>
    </div>

    <div class="cards">
        {{ range (.Paginate ( where site.RegularPages "Section" "blog" | first 3 )).Pages}}
        {{ block "article-card-recent" . }}{{ partial "post-card.html" . }}{{ end }}
        {{ end }}
    </div>

</section>

<section class="section">
    <div class="section-title">
        <h4 class="title"><a href="/skills/">&#128187; Work</a></h4>
    </div>

    <div class="skills-preview">
        <div class="skills-preview__text">
            <p>This is my toolbox. If you want a website or a great developer for your team with these skills, we can get in touch!</p>
            <a class="btn-cta btn-primary" href="/contact/">&#9993;&#65039; Contact</a>
        </div>
        <img src="/images/skills.png" alt="CV illustration with skills">
    </div>
</section>

<section class="section portfolio-preview-section">
    <div class="section-title">
        <h4 class="title">&#128241; Latest project</h4>
    </div>

    <div class="portfolio-preview">
        <div class="web-project">
            <div class="web-project__media-container" id="repostery-media">
                <a href="https://reposterychart.firebaseapp.com/" target="_blank">
                    <img src="/images/repostery.png" alt="repostery screenshot">
                </a>
            </div>
            <div class="web-project__content">
                <h2 class="web-project__content-title">&#128202; Repostery</h2>
                <div class="link" id="link-repostery">
                    <a href="https://reposterychart.firebaseapp.com/" target="_blank">&#128279; Visit</a>
                </div>
                <p>Web app for generating data visualizations about Github users</p>
                <ul>
                    <li>
                        <p class="bullet">&#128736;&#65039;</p>
                        <p>Built on <b>React js</b> and backend API built on <b>Python Django</b> </p>
                    </li>
                    <li>
                        <p class="bullet">&#128272;</p>
                        <p>Users signup with Github accounts using the <b>Oauth2</b> standard</p>
                    </li>
                    <li>
                        <p class="bullet">&#128200;</p>
                        <p>Developed following the <b>TDD</b> and <b>CI/CD</b> practices</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="portfolio-preview__text">
            <img src="/images/laptop.svg" alt="laptop illustration">
            <p>You can take a look at my projects here</p>
            <a class="btn-cta" href="/portfolio/">&#127912; Portfolio</a>
        </div>
    </div>
</section>
{{end}}