.landing {
    display: flex;
    flex-wrap: wrap;
    
    align-items: center;
    min-height: 100vh;
    padding-top: 40px;
    overflow: hidden;

    &__image {
        max-height: 700px;
        width: auto;
        max-width: 80vw;
        position: relative;
        right: 2px;
        animation: launching 3s ease-out;
    }
    
    @keyframes launching {
        0% {
            transform: rotate(60deg) translateX(-400%) scale(5);
        }
        100% {
            transform: rotate(0deg) translateX(0) scale(1);
        }
    }

    .landing__text {
        padding: 20px;
        margin: 0 auto;
        animation: show 5s ease-in;
        
    
        @keyframes show {
            0% {
                opacity: 0;
                transform: translateX(10%);
                
            }80% {
                opacity: 0;
                transform: translateX(10%);
            }100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
        
        @include media($medium-min) {
            margin: auto;
        }
    }

    &__title {
        font-weight: 500;
        font-size: 2.3rem;
        color: hsl(0, 0%, 25%);
        // color: $black;
        margin: 0;
        // font-family: $font-family-default;

        @include media($medium-min) {
            font-size: 3.5rem;
        }
    }

    &__title.secundary {
        font-size: 1.8rem;
        @include media($medium-min) {
            font-size: 2.5rem;
        }
    }


    p {
        margin: 0;

        @include media($medium-min) {
            font-size: 1.4rem;
        }
    }

    span:nth-child(1) {
        color: $orange;
    }
    span:nth-child(2) {
        color: $blue;
    }
    span:nth-child(3) {
        color: $red;
    }
} 