.skills-preview {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  &__text {
    padding: 20px;
    font-size: 1.2rem;
    max-width: 700px;
    color: $low-gray;
    
    @include media($medium-min) {
      font-size: 1.5rem;
    }
    
    @include media($large-min) {
      max-width: 500px;
    }  
    
    p {
      margin: 10px 0;
    }

    .btn-cta {
      margin: 10px 0;
    }
  }

  img {
    width: 100vw;
    max-width: 700px;
    padding: 20px;
    padding-bottom: 40px;
    
    @include media($large-min){
      padding: 40px;
    }
  }
}