{{ define "main" }}
<section class="section-contact">
    <!-- <div class="offering">
        <div class="offer-item">
            <img src="/images/laptop.svg" alt="Laptop Illustration">
            <p>You want a website like this or something
            like anything you’ve seen here</p>
        </div>
        <div class="offer-item">
            <img src="/images/cv.svg" alt="cv Illustration">
            <p>You’re looking to hire a professional with the
            skills I haveand my never-ending learning habit</p>
        </div>
        <div class="offer-item">
            <img src="/images/talk.svg" alt="talk Illustration">
            <p>Or you would like to start a conversation.</p>
        </div>
    </div> -->
    <p>I you want to build a website, hire a great coder for your company or just chat. Feel free to come by and say hi!</p>
    <div class="mail-container">
        <img src="/images/mail.svg" alt="mail illustration">
        <p class="mail">albindevs@gmail.com</p>
    </div>
    <div class="social">
        <p>You can find me here if you want to come along and get updates from new blog posts</p>
        <div class="profiles">
            <a class="profile" href="https://instagram.com/albindevs.blog" target="_black">
                <img src="/images/ig.svg" alt="instagram logo">
                <p>@albindevs.blog</p>
            </a>
            <a class="profile" href="https://instagram.com/albindevs" target="_black">
                <img src="/images/ig.svg" alt="instagram logo">
                <p>@albindevs (Personal Account)</p>
            </a>
            <a class="profile" href="https://twitter.com/albindevs" target="_black">
                <img src="/images/tw.svg" alt="Twitter logo">
                <p>@albindevs (PA Spanish Mostly)</p>
            </a>
            <a class="profile" href="https://linkedin.com/in/albin-garcia" target="_black">
                <img src="/images/linkedin.svg" alt="Linkeding logo">
                <p>Albin Garcia</p>
            </a>
        </div>
    </div>
</section>
{{ end }}